In [1]:
print(76897987)

76897987

In [2]:
print("jemnut")
print(type("jemnut"))

jemnut
<class 'str'>

In [3]:
print(type(true))

NameError: name 'true' is not defined

In [4]:
print(type(76767))

<class 'int'>

In [5]:
x=1000
print(x)

1000

In [6]:
a=788
b=78
print(a=b)

TypeError: 'a' is an invalid keyword argument for print()

In [7]:
var=23.5
print(var)

var="now i am string"
print(var)

23.5
now i am string

In [8]:
"name="yondha
age=25
gajelas=true"

SyntaxError: EOL while scanning string literal (3364253549.py, line 1)

In [9]:
name="yondha"
age=25
gajelas=true

NameError: name 'true' is not defined

In [10]:
a = 10
b = 10
a + b - 5

15

In [11]:
# + operator
s = foo
t = ty
print(s+t)

NameError: name 'foo' is not defined

In [12]:
# + operator
s = "foo"
t = "ty"
print(s+t)

footy

In [13]:
# * operator

s = "foo"
s * 4

'foofoofoofoo'

In [14]:
# in operator
s = "foo"
print(s in "footy")
print(s in "booty")

True
False

In [15]:
a = [2, 3, "foo"]
print(len(a))
print(min(a))

3

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
a = ["hh", "gg", "yuyu","hgbhi","hbhb"]